<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Add_ShpsFromFolder</Name><AddInID>{1b59b4ab-4c34-4984-95cd-a747670ec170}</AddInID><Description>Add_ShpsFromFolder</Description><Version>0.1</Version><Image /><Author>Chen Jinlv by TianQi</Author><Company>TianQi</Company><Date>07/01/2016</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="Add_ShpsFromFolder_addin.py" namespace="Add_ShpsFromFolder_addin"><ArcMap>
    <Commands>
        <Button caption="Add_ShpsFromFolder" category="Add_ShpsFromFolder" class="ButtonClass1" id="Add_ShpsFromFolder_addin.button" image="" message="" tip=""><Help heading="">&#21151;&#33021;&#65306;&#21152;&#36733;&#36873;&#25321;&#25991;&#20214;&#22841;&#21450;&#20854;&#23376;&#38382;&#20215;&#22841;&#19979;&#25152;&#26377;&#30340;shapefile&#25991;&#20214;&#12290;</Help></Button>
        <Button caption="Add_ImagesFromFolder" category="Add_ShpsFromFolder" class="ButtonClass7" id="Add_ImagesFromFolder.button" image="" message="" tip=""><Help heading="">&#21151;&#33021;&#65306;&#21152;&#36733;&#36873;&#25321;&#25991;&#20214;&#22841;&#21450;&#20854;&#23376;&#38382;&#20215;&#22841;&#19979;&#25152;&#26377;&#30340;&#24433;&#20687;&#25991;&#20214;&#65292;&#24433;&#20687;&#25991;&#20214;&#30340;&#26684;&#24335;&#21253;&#21547;tif&#12289;pix&#12289;img&#12289;dat&#12290;</Help></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Toolbar" category="Add_ShpsFromFolder" id="Add_ShpsFromFolder_addin.toolbar" showInitially="true"><Items><Button refID="Add_ShpsFromFolder_addin.button" /><Button refID="Add_ImagesFromFolder.button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>