<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>TQ_AddBaseMap2ArcMapV1</Name><AddInID>{2e5c14fc-498a-4993-9fb8-fc3a6e613e50}</AddInID><Description>TQ_AddBaseMap2ArcMapV1</Description><Version>0.1</Version><Image /><Author>Chen Jinlv</Author><Company>TianQi</Company><Date>11/16/2016</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="TQ_AddBaseMap2ArcMapV1_addin.py" namespace="TQ_AddBaseMap2ArcMapV1_addin"><ArcMap>
    <Commands>
        <Button caption="AddBaseMap2ArcMap" category="TQ_AddBaseMap2ArcMapV1" class="AddBaseMap2ArcMap" id="TQ_AddBaseMap2ArcMapV1_addin.button" image="" message="" tip=""><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="TQ_AddBaseMap2ArcMapV1" category="TQ_AddBaseMap2ArcMapV1" id="TQ_AddBaseMap2ArcMapV1_addin.toolbar" showInitially="true"><Items><Button refID="TQ_AddBaseMap2ArcMapV1_addin.button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>