<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>AddImagesToArcMap</Name><AddInID>{ff20d12b-2d7d-44ae-b1b3-6652eeace284}</AddInID><Description>AddImagesToArcMap</Description><Version>0.1</Version><Image /><Author>ChenJL</Author><Company>TQ</Company><Date>09/08/2016</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="AddImagesToArcMap_addin.py" namespace="AddImagesToArcMap_addin"><ArcMap>
    <Commands>
        <Button caption="AddImages" category="AddImagesToArcMap" class="AddImages" id="AddImages_addin.button" image="" message="" tip="AddImagesToArcMap"><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="IPM ToolBar" category="AddImagesToArcMap" id="AddImagesToArcMap_addin.toolbar" showInitially="true"><Items><Button refID="AddImages_addin.button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>